<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>{{$page_title}}</title>
    <meta name="keywords" content="{{$page_keywords}}"/>
    <meta name="description" content="{{$page_description}}"/>
    {{script require=["app.common"]}}{{/script}}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{'/.assets/css/adm-base.css'|path_to_url}}" rel="stylesheet"/>
</head>
<body>

{{if $flash = []|flash}}
    {{script require=["app.showFlash"]}}showFlash({{$flash|json_encode nofilter}}){{/script}}
{{/if}}

<header class="header-block">
    <div>
        <div class="logo"><a href="{{'/'|path_to_url}}"></a></div>
    </div>
</header>

<div class="main-block clearfix">
<div class="left-col">
<nav class="main-menu">
    <h2>Menu</h2>
    <dl>
<?php foreach ($role->getTopLevelControllers() as $menu_controller): ?>
<?php   $index_page = $menu_controller->getIndexPage(); ?>
<?php   if ($menu_controller->getAttr("type")==="login"): ?>
<?php       $login_page = $menu_controller->getPagesetByType("login")->getPageByType("login"); ?>
<?php       $exit_page = $menu_controller->getPagesetByType("login")->getPageByType("exit"); ?>
        {{if "id"|get_priv:"<?=$menu_controller->getRole()->getName()?>"}}
            <dt><a href='{{"<?=$exit_page->getFullPage()?>"|page_to_url}}'>ログアウト</a></dt>
        {{else}}
            <dt><a href='{{"<?=$login_page->getFullPage()?>"|page_to_url}}'>ログイン</a></dt>
        {{/if}}
<?php   elseif ($param_field = $menu_controller->getIndexPageset()->getDependParamField()): ?>
<?php       if ( ! $menu_controller->getIndexPageset()->getLinkFrom() && $param_field["enum_set"]): ?>
        {{if "<?=$index_page->getFullPage()?>"|is_accessible}}
            <dt>
                <a href='javascript:void(0);'><?=$index_page->getTitle()?></a>
                <dl>
                    {{foreach $enum["<?=$param_field["enum_set"]->getFullName()?>"] as $k=>$v}}
                        <dt><a href='{{"<?=$index_page->getFullPage()?>"|page_to_url:["<?=$param_field["param_name"]?>"=>$k]}}'>{{$v}}</a></dt>
                    {{/foreach}}
                </dl>
            </dt>
        {{/if}}
<?php       endif; ?>
<?php   else: ?>
        {{if "<?=$index_page->getFullPage()?>"|is_accessible}}
            <dt><a href='{{"<?=$index_page->getFullPage()?>"|page_to_url}}'><?=$index_page->getTitle()?></a></dt>
        {{/if}}
<?php   endif; ?>
<?php endforeach; ?>
    </dl>
    <dl>
<?php foreach ($role->getSchema()->getRoles() as $role_others): ?>
<?php   if ($role_others->getName() != $role->getName()): ?>
<?php       if ($menu_page = $role_others->getIndexController()->getIndexPage()): ?>
        <dt><a href='{{"<?=$menu_page->getFullPage()?>"|page_to_url}}'><?=$menu_page->getTitle()?></a></dt>
<?php       endif; ?>
<?php   endif; ?>
<?php endforeach; ?>
    </dl>
</nav><!--/.main-menu-->
</div><!--/.left-col-->
<div class="right-col">
