<?php if ($search_fields = $pageset->getSearchFields()): ?>
{{form form=$forms.search}}
<table class="tbl detail">
<?php   foreach ($search_fields as $field): ?>
    <tr>
        <th><?=$field["col"]->getLabel()?></th>
        <td><?=$pageset->getSearchInputSource($field)?></td>
    </tr>
<?php   endforeach; ?>
</table>
<?php   if (count($search_fields) > count($pageset->getFixedSearchFields())): ?>
<div class="btn-area clearfix">
    <div class="right clearfix">
        <a href="{{$forms.search->getSearchPageUrl(<?=$pageset->getFixedSearchParamSource()?>)}}" class="reset-btn">リセット</a>
        <button type="submit" class="search-btn">検索</button>
    </div>
</div>
<?php   endif; ?>
{{/form}}
<?php endif; ?>

<div class="btn-area">
<?php if ($a_pageset = $controller->getPagesetByType("form")): ?>
    <a href='<?=$a_pageset->getLinkSource("smarty", $pageset, array("form_name"=>"\$forms.search"))?>' class="create-btn">新規登録</a>
<?php endif; ?>
    &nbsp;
    <div class="right clearfix">
<?php foreach ($pageset->getLinkTo() as $link): ?>
<?php   if ( ! $link["by_record"]): ?>
        <a href='<?=$link["pageset"]->getLinkSource("smarty", $pageset, array("form_name"=>"\$forms.search"))?>' class="link-btn"><?=$link["label"]?></a>
<?php   endif; ?>
<?php endforeach; ?>
<?php if ($a_pageset = $controller->getPagesetByType("csv")): ?>
        <a href='<?=$a_pageset->getLinkSource("smarty", $pageset, array("form_name"=>"\$forms.search"))?>' class="export-btn">CSVダウンロード</a>
<?php endif; ?>
<?php if ($a_pageset = $controller->getPagesetByType("import")): ?>
        <a href='<?=$a_pageset->getLinkSource("smarty", $pageset, array("form_name"=>"\$forms.search"))?>' class="import-btn">一括登録</a>
<?php endif; ?>
    </div>
</div>

{{if count($ts)==0}}

<p>該当する情報がありません</p>

{{else}}{{* 0件ではない場合 *}}

<a id="table-sort" data-sort-base-url='{{$forms.search->getSearchPageUrl(["p"=>0, "sort"=>""])}}' data-sort-current="{{$forms.search.sort}}" data-sort-param-name="sort" data-sort-default="<?=$controller->getDefaultSortFieldName()?>"></a>
{{script require=["rui.sort"]}}{{/script}}

<?php if ($controller->getAttr("bulk_actions")): ?>
{{form form=$forms.bulk}}
<div class="btn-area">
    <button type="submit" name="action" value="delete" class="bulk-btn" onclick="return confirm('削除します');">選択一括削除</button>
</div>
<?php endif; ?>
<table class="tbl list">
    <tr>
<?php if ($controller->getAttr("bulk_actions")): ?>
        <th>&nbsp;</th>
<?php endif; ?>
<?php foreach ($controller->getListCols() as $col): ?>
<?php   if ($controller->isSortCol($col)): ?>
        <th data-sort-toggle="<?=$col->getName()?>" data-sort-handle="#table-sort"><?=$col->getLabel()?></th>
<?php   else: ?>
        <th><?=$col->getLabel()?></th>
<?php   endif; ?>
<?php endforeach; ?>
        <th>&nbsp;</th>
    </tr>
    {{foreach $ts as $i => $t}}
    <tr>
<?php if ($controller->getAttr("bulk_actions")): ?>
        <td>{{input type="checkbox" name="items[$i][id]" value=$t.id}}</td>
<?php endif; ?>
<?php foreach ($controller->getListCols() as $col): ?>
        <td><?=$col->getShowSource(array("page"=>$page))?></td>
<?php endforeach; ?>
        <td>
<?php if ($a_pageset = $controller->getPagesetByType("detail")): ?>
            <a href='<?=$a_pageset->getLinkSource("smarty", $pageset, array("record_name"=>"\$t", "form_name"=>"\$forms.search"))?>' class="list-btn">詳細</a>
<?php endif; ?>
<?php if ($a_pageset = $controller->getPagesetByType("form")): ?>
            <a href='<?=$a_pageset->getLinkSource("smarty", $pageset, array("record_name"=>"\$t", "form_name"=>"\$forms.search"))?>' class="list-btn">編集</a>
<?php endif; ?>
<?php if ($a_pageset = $controller->getPagesetByType("delete")): ?>
            <a href='<?=$a_pageset->getLinkSource("smarty", $pageset, array("record_name"=>"\$t", "form_name"=>"\$forms.search"))?>' class="list-btn" onclick="return confirm('削除します');">削除</a>
<?php endif; ?>
<?php foreach ($pageset->getLinkTo() as $link): ?>
<?php   if ($link["by_record"]): ?>
            <a href='<?=$link["pageset"]->getLinkSource("smarty", $pageset, array("record_name"=>"\$t", "form_name"=>"\$forms.search"))?>' class="list-btn"><?=$link["label"]?></a>
<?php   endif; ?>
<?php endforeach; ?>
        </td>
    </tr>
    {{/foreach}}
</table>
<?php if ($controller->getAttr("bulk_actions")): ?>
{{/form}}
<?php endif; ?>

{{if $p = $ts->getPager()}}
<div class="pager">
    <p>全{{$p->get("count")}}件中 {{$p->get("current_volume")}}件を表示</p>
    <ul class="clearfix">
    {{if $p->getPage('prev')}}
        <li class="prev"><a href="{{$forms.search->getSearchPageUrl(['p'=>$p->getPage('prev')])}}">&lt;</a></li>
    {{/if}}
    {{foreach $p->getPages(5) as $page}}
        {{if $page == "last"}}<li>...</li>{{/if}}
        {{if $page == $p->getPage("current")}}<li class="current">{{else}}<li>{{/if}}
        <a href="{{$forms.search->getSearchPageUrl(['p'=>$p->getPage($page)])}}">{{$p->getPage($page)}}</a>
        </li>
        {{if $page == "first"}}<li>...</li>{{/if}}
    {{/foreach}}
    {{if $p->getPage("next")}}
        <li class="next"><a href="{{$forms.search->getSearchPageUrl(['p'=>$p->getPage('next')])}}">&gt;</a></li>
    {{/if}}
    </ul>
</div>
{{/if}}

{{/if}}{{* /0件ではない場合 *}}

<div class="btn-area" style="margin-top: 10px;">
    <a href='{{"<?=$pageset->getBackPage()->getFullPage($page)?>"|page_to_url|url:["back"=>1]}}' class="back-btn">戻る</a>
</div>